= form_with model: @article, local: true do |form|
  - if @article.errors.any?
    #error_explanation
      %h2
        = pluralize(@article.errors.count, "error")
        prohibited
        this article from being saved:
      %ul
        - @article.errors.full_messages.each do |msg|
          %li= msg
  %p
    = form.label :title
    %br/
    = form.text_field :title
  %p
    = form.label :text
    %br/
    = form.text_area :text
  %p
    = form.submit