= link_to 'New article', new_article_path
%h1 Listing Articles
%table
  %tr
    %th Id
    %th Title
    %th Text
    %th Link
  - @articles.each do |article|
    %tr
      %td= article.id
      %td= article.title
      %td= article.text
      %td= link_to 'Show', article_path(article)
      %td= link_to 'Edit', edit_article_path(article)
      %td= link_to 'Delete', article_path(article), method: :delete, data: {confirm: 'Are you sure'}

= form_with scope: :article, url: articles_path, local: true do |form|
  \...
= link_to 'Back', welcome_index_path